nav {
    top: 0;

    position: fixed;
    z-index: 1;

    width: 100vw;
    height: 7.5vh;
    background-color: #efccff;
    background-image: linear-gradient(to top, #381143 0%, #230b2a 100%);
    display: grid;
    grid-template-columns: 50% 50%;

    /* * {border: solid 1px black}; */

    #nav-div1 { 
        padding-left: 5%;
        width: 95%;
        display: flex;

        align-items: center;

    }

    #nav-div2 {
        padding-right: 5%;
        
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

body {
    
    top: 0;
    margin: 0;
    padding: 0;

    font-size: 1vw;

    background-color: #D9D9D9;
    background-image: repeating-linear-gradient(15deg, #220e47 20%,#2c2851 50%);

    div.main-div {

        z-index: 0;

        padding-top: 9vh;
        width: 100vw;

        #section-3 {
            line-height: 1.2;
        }

        section.section-container {
            /* line-height: 1.2; */
            width: 75%;

            * {
                margin-top: 2%;
                margin-bottom: 2%;
            }

            #get-started-button, #try-again-button {
                padding: 1%;
                width: 12.5%;
                font-size: 1em;
                font-family: 'Space Mono', monospace;
                text-align: center;

                color: #efe6f4;
                border-radius: 10px;
                border: 0px;
                background-image: linear-gradient(45deg, #543789 20%,#6152e0 100%);
            }

            #data-p, #try-again-button {
                display:none;
            }

            #get-report-button {
                padding: 1%;
                width: 23%;
                font-size: 1em;
                font-family: 'Space Mono', monospace;
                text-align: center;

                border-radius: 10px;
                color: #efe6f4;
                border-radius: 10px;
                border: 0px;
                background-image: linear-gradient(45deg, #543789 20%,#6152e0 100%);
            }

            #drop-zone-outer {
                background-color: #341c4d;
                height: 50vh;

                border-radius: 10px;
            }

            #drop-zone-buttons {
                z-index: 1;

                #files-button {
                    font-size: 1.5em;
                    font-family: 'Space Mono', monospace;
                    text-align: center;
                    padding: 5px;
                    color: #efe6f4;
                    border-radius: 10px;
                    border: 0px;
                    background-image: linear-gradient(45deg, #543789 20%,rgb(48, 40, 118) 100%);
                }

                #clear-button {
                    font-size: 1em;
                    font-family: 'Space Mono', monospace;
                    text-align: center;
                    padding: 5px;
                    color: #efe6f4;
                    border-radius: 10px;
                    border: 0px;
                    background-image: linear-gradient(45deg, #543789 20%,rgb(48, 40, 118) 100%);

                    /* transform: translate(0, 200%); */
                }
            }

            #drop-zone-images {
                position: absolute;
                overflow-x: scroll;
                width: 65%;
                #preview {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 0.1em;
                    list-style: none;
                    padding: 0;
                }

                #preview li {
                    display: flex;
                    align-items: center;
                    gap: 0.1em;
                    margin: 0;
                    width: 100%;
                    height: 100px;
                    font-family: 'Kode Mono', monospace;
                    color: #969696;
                }

                #preview img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }
        }   

    }

}


h1 {
    /* margin-top: 7.5%; */
    font-size: 2em;
    font-family: 'Martian Mono', monospace;
    text-align: left;
    color:#ffffff;
    background-image: linear-gradient(10deg, #f2e2f7 0%, #df80ff 100%);
  
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* background-color: beige; */
}

h2 {
    font-size: 1.8em;
    font-family: 'Space Mono', monospace;
    text-align: left;
    color: #ffffff;
    /* background-color: beige; */
}

h3 {
    font-size: 1em;
    font-family: 'Martian Mono', monospace;
    text-align: left;
    color: #8400ff;
    /* background-color: beige; */
}

p {
    font-size: 1.3em;
    font-family: 'Space Mono', monospace;
    text-align: left;
    color: rgb(222, 197, 218);
    /* background-color: beige; */
}

.grid-center {
    display: grid;
    place-items: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}