nav {
    top: 0;

    position: fixed;
    z-index: 1;

    width: 100vw;
    height: 7.5vh;
    background-color: #515151;

    display: grid;
    grid-template-columns: 50% 50%;

    /* * {border: solid 1px black}; */

    #nav-div1 { 
        padding-left: 5%;
        width: 95%;
        display: flex;

        align-items: center;

    }

    #nav-div2 {
        padding-right: 5%;
        
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

body {
    
    top: 0;
    margin: 0;
    padding: 0;

    font-size: 1vw;

    background-color: #D9D9D9;

    div.main-div {

        z-index: 0;

        padding-top: 9vh;
        width: 100vw;

        section.section-container {
            width: 75%;

            * {
                margin-top: 2%;
                margin-bottom: 2%;
            }

            #get-started-button {
                padding: 1%;
                width: 12.5%;
                font-size: 1em;
                font-family: 'Space Mono';
                text-align: center;

                border-radius: 10px;
                /* background-color: beige; */
            }

            #get-report-button {
                padding: 1%;
                width: 23%;
                font-size: 1em;
                font-family: 'Space Mono';
                text-align: center;

                border-radius: 10px;
                /* background-color: beige; */
            }

            #drop-zone-outer {
                background-color: #969696;
                height: 50vh;

                border-radius: 10px;
            }

            #files-button {
                position: absolute;
                background-color: #6d6d6d;
                color: #c5c5c5;
                font-size: 1.5em;
                text-align: center;
                border-radius: 10px;
                padding: 5px;

                z-index: 1;
            }

            #clear-btn {
                position: absolute;
                background-color: #6d6d6d;
                color: #c5c5c5;
                font-size: 1em;
                text-align: center;
                border-radius: 10px;
                padding: 5px;

                translate: 0px 200%;
                z-index: 1;
            }
            
            #preview {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                list-style: none;
                padding: 0;

                z-index: 0;
            }

            #preview li {
                display: flex;
                align-items: center;
                gap: 0.5em;
                margin: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }

            #preview img {
                width: 100%;
                height: 100%;
                aspect-ratio: auto;
                object-fit: cover;
                font-size: 1em;
                z-index: 0;
            }
        }   

    }

}


h1 {
    /* margin-top: 7.5%; */
    font-size: 2em;
    font-family: 'Martian Mono';
    text-align: left;
    /* background-color: beige; */
}

h2 {
    font-size: 1.8em;
    font-family: 'Space Mono';
    text-align: left;
    /* background-color: beige; */
}

h3 {
    font-size: 1em;
    font-family: 'Martian Mono';
    text-align: left;
    color: #D9D9D9;
    /* background-color: beige; */
}

p {
    font-size: 1.3em;
    font-family: 'Space Mono';
    text-align: left;
    /* background-color: beige; */
}

.grid-center {
    display: grid;
    place-items: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}